:root {
    --basic-black: #293449;
    --basic-blacklight: #EAEAEA;
    --black-active: #161D29;
    --black-opacity: rgba(0,0,0,0.01);
    --black-filter: rgba(0,0,0,0.3);
    --black-logo: rgba(0, 0, 0, 0.24);
    --black-card: rgba(0, 0, 0, 0.15);
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --greylight-opacity: rgba(197,197,197,0.3);
    --basic-background: #F1F5F7;
    --basic-background-opacity: rgba(241,245,247,0.5);
    --white: #FFFFFF;
    --white-opacity: rgba(255,255,255,0.5);
    --white-light: rgba(255,255,255,0.3);
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --yellowlight-opacity: rgba(255,209,128,0.5);
    --special-background: #F9F5F0;
    --accent-green: #5FBB2D;
    --accent-yellow: #FFBF47;
    --accent-red: #BA2732;
    --text-greylight: #F3F7F9;
    --text-black: #000000;
    --text-blacklight: #32425C;
    --text-grey: #A9A9A9;
    --grey-opacity: rgba(169,169,169,0.3);
    --greylight-background: #F2F6F8;
    --catalog-background: #F7F3EC;
    --catalog-greylight: #E5E5E5;
    --box-shadow: rgba(0, 0, 0, 0.15);
    --button-black: #405069;
    --button-green: #518534;
    --box-shadow-green: #367315;
    --black-nav: #1D2739;
    --black-social: #212A3A;
    --catalog-scale: #D7DCDE;
    --catalog-toggle: #ABABAB;
    --catalog-shadow: rgba(171,171,171,0.3);
    --catalog-line: #444444;
    --filter-grey: #B5B5B5;
    --catalog-filter: rgba(0,0,0,0.4);
    --modal-background: #F4F4F4;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
*, *::before, *::after { 
    box-sizing: border-box; 
}
.page {
    height: 100%;
}
.page-body {
    min-height: 100%;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* оформление шапки сайта */

.header {
    padding-bottom: 60px;
    background-color: var(--basic-background);
}
.menu-top {
    min-width: 100%;
    background-color: var(--basic-black);
}
.menu-top .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  
}
.logo-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 47px;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px var(--black-logo);
}
.logo-header img {
    display: block;
    margin: 0 auto;
    padding-top: 12px;
}
.logo-header:active,
.logo-footer:active {
    background-color: var(--accent-red);
}
.menu-top__search {
    width: 270px;
    min-height: 42px;
    background-color: var(--basic-black);
    margin-left: 220px;
}
.menu-top__search-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.menu-top__search-svg {
    position: absolute;
    top: 12px;
    left: 17px;
    opacity: 0.3;
    fill: var(--white);
}
.menu-top__search-input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 26px;
    color: var(--white);
}
.menu-top__search-input::-moz-placeholder {
    font-size: 18px;
    line-height: 40px;
    color: var(--white);
}
.menu-top__search-input {
    width: 270px;
    min-height: 42px;
    padding-left: 42px;
    font-size: 18px;
    line-height: 26px;
    color: var(--white); 
    border: none;
}
.menu-top__search-input:hover + .menu-top__search-svg {
    opacity: 1;
}
.menu-top__search-input:valid {
    background-color: var(--white);
    color: var(--text-black); 
}
.menu-top__search-input:valid + .menu-top__search-svg {
    fill: var(--basic-red);
    opacity: 1;
}
.menu-top__search-input:invalid {
    background-color: var(--basic-black);
    color: var(--white);
}
.menu-top__search-input:focus {
    outline: none;
    background-color: var(--white);
    color: var(--text-black); 
}
.menu-top__search-input:focus + .menu-top__search-svg {
    fill: var(--basic-red);
    opacity: 1;
}
.menu-top__link {
    position: relative;
    width: 150px;
    min-height: 42px;
    padding-left: 43px;
    padding-top: 9px;
    color: var(--white);
    font-size: 18px;
    line-height: 26px;
}
.menu-top__link--bookmark::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 116px;
    width: 14px;
    height: 16px;
    background-image: url("../img/menu/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}
.menu-top__link--basket::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 109px;
    width: 15px;
    height: 15px;
    background-image: url("../img/menu/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}
.menu-top__link--basket {
    padding-left: 49px;
}
.menu-top__link--basket:hover::before,
.menu-top__link--bookmark:hover::before {
    opacity: 1;
}
.menu-top__link--basket:active::before,
.menu-top__link--bookmark:active::before {
    opacity: 0.3;
}
.menu-top__link:active {
    color: var(--white-opacity);
    background-color: var(--black-active);
} 
.menu-top__link-work {
    width: 136px;
    background-color: var(--basic-red);
    margin-left: 14px;
    padding-left: 33px;
}
.menu-top__btn {
    width: 150px;
    min-height: 42px;
    padding: 0;
    background-color: var(--basic-green);
    color: var(--white);
    font-size: 18px;
    line-height: 26px;
    border: none;
    cursor: pointer;
}
.menu-top__btn:hover {
    background-color: var(--accent-green);
}
.menu-top__btn:active {
    color: var(--white-opacity);
    background-color: var(--basic-green);
}
.submenu {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 40px;
}
.submenu__text {
    width: 197px;
    margin-top: 42px;
    margin-left: 30px;
}
.submenu__descr {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    color: var(--basic-red);
}
.submenu__contacts {
    margin-top: 46px;
    margin-left: 93px;
}
.submenu__call {
    position: relative;
    display: block;
    width: 270px;
    min-height: 45px;
    padding-top: 4px;
    padding-left: 71px;
    border: 3px solid var(--white);
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    color: var(--basic-red);
}
.submenu__call::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 36px;
    width: 19px;
    height: 19px;
    background-image: url("../img/menu/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.submenu__contacts address {
    width: 270px;
    margin-top: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-blacklight);
    font-style: normal;
}
.submenu__button {
    width: 299px;
    min-height: 45px;
    margin-top: 46px;
    margin-left: 51px;
    text-align: right;
}
/* стилизация кнопок входа и регистрации на главной */
.btn {
    padding: 0;
    margin-bottom: 5px;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 21px;
    line-height: 21px;
}
.btn__come-in {
    position: relative;
    width: 121px;
    margin-right: 5px;
    padding: 12px 10px 12px 45px;
    text-align: left;
}
.btn__svg {
    position: absolute;
    top: 13px;
    left: 19px;
}
.btn__registration {
    width: 150px;
    padding: 12px 24px;
}
.btn:hover {
    color: var(--basic-red);
}
.btn:active {
    color: var(--basic-greylight);
    outline: none;
}
.btn__come-in:hover path {
    fill: var(--basic-grey);
}
.btn__come-in:active path {
    fill: var(--basic-greylight);
}

/* стилизация кнопки для второй страницы - Каталог */
.submenu__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px 11px 15px;
    text-align: center;
    width: 100%;
    color: var(--text-black);
    font-size: 21px;
    line-height: 21px;
    background-color: var(--white);
}
.submenu__block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 229px;
}
.submenu__name {
    width: 186px;
    color: var(--text-black);
    margin-left: 21px;
}
.submenu__list {
    min-width: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 7px;
    padding: 0;
    list-style: none;
}
.submenu__item-list:nth-child(2n) {
    list-style-type: disc;
    margin-left: 25px;
}
.submenu__item-list a {
    margin: 0 auto;
    color: var(--text-blacklight);
    font-size: 16px;
    line-height: 18px;
}
.submenu__link svg:hover path {
    fill: var(--basic-grey);
}
.submenu__list:hover,
.submenu__list a:hover {
    color: var(--basic-red);
}
.submenu__link svg:active path {
    fill: var(--basic-greylight);
}
.submenu__name:active, 
.submenu__list:active,
.submenu__list a:active {
    color: var(--basic-greylight);
}
.navigation {
    min-height: 60px;
    background-color: var(--text-blacklight);
    box-shadow: inset 0px -5px 0px var(--basic-black);
}  
.navigation__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0 19px 0 23px;
    list-style-type: none;
} 
.navigation__main > li {
    flex-grow: 1;
}
.navigation__link {
    display: block;
    padding: 16px 24px 20px 27px;
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.navigation__link-active {
    background-color: var(--black-nav);
    color: var(--white-opacity);
}
.navigation__link:hover {
    background-color: var(--basic-black);
    box-shadow: inset 0px -5px 0px var(--basic-black);
}
.navigation__link:active {
    background-color: var(--black-nav);
    color: var(--white-opacity);
} 

/* Стилизация блока promo */

.promo {
    padding: 59px 0;
    color: var(--white);
}
.promo__list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.promo-grid {
    grid-column: 1/3;
    grid-row: 2/4;
}
.promo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.promo__item {
    width: 300px;
    padding-left: 23px;
    padding-top: 20px;
    padding-bottom: 21px;
    position: relative;
}

/* стилизациия надписи новый товар */
.card-new-promo::before {
    content:"";
    position: absolute;
    top: 0;
    left: 230px;
    width: 70px;
    min-height: 70px;
    background-color: var(--basic-red);
    background: url("../img/products/catalod-new.svg") no-repeat center center;  
}
.promo__item h3 {
    width: 140px;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.promo__link {
    display: block;
    width: 135px;
    margin-top: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--white-light);
}
.promo__link:hover {
    background-color: var(--greylight-opacity);
}
.promo__link:active {
    background-color: var(--grey-opacity);
}
.promo__item--yellow {
    background-color: var(--special-yellow);
}
.promo__item--yellow::after {
    content: "";
    position: absolute;
    top: 31px;
    left: 213px;
    width: 44px;
    height: 65px;
    background-image: url("../img/promo/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.promo__item--blue {
    background-color: var(--special-blue);
}
.promo__item--blue::after {
    content: "";
    position: absolute;
    top: 34px;
    left: 194px;
    width: 75px;
    height: 61px;
    background-image: url("../img/promo/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.promo__item--lilac {
    background-color: var(--special-lilac);
}
.promo__item--lilac::after {
    content: "";
    position: absolute;
    top: 31px;
    left: 191px;
    width: 78px;
    height: 62px;
    background-image: url("../img/promo/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.promo__item--greenlight {
    background-color: var(--special-greenlight);
}
.promo__item--greenlight::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 196px;
    width: 59px;
    height: 72px;
    background-image: url("../img/promo/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.promo__item--yellowlight {
    background-color: var(--special-yellowlight);
}
.promo__item--yellowlight::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 191px;
    width: 78px;
    height: 63px;
    background-image: url("../img/promo/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* стилизация слайда */
.slider {
    position: relative;
    width: 620px;
    min-height: 266px;
    margin: 0;
}
.slider__list {
    list-style-type: none;
}
.slider__slide-1 {
    background-color: var(--greylight-opacity);
    background-image: url("../img/promo/slide01.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.slider__slide-2 {
    background-color: var(--greylight-opacity);
    background-image: url("../img/promo/slide02.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.slider__item {
    display: none;
    padding-left: 24px;
    padding-top: 23px;
    padding-bottom: 27px;
}
.slide-active {
    display: block;
}
.slider__title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}
.slider__item p {
    margin: 0;
    margin-top: 5px;
    font-size: 18px;
    line-height: 24px;
}

/* стилизация кнопки-ссылки red для всего сайта */
.link-main {
    display: block;
    width: 192px;
    padding: 11px 10px 9px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--basic-red);
    cursor: pointer;
}
.link-main:active {
    background-color: var(--accent-red);
}
.slider__item .link-main {
    margin-top: 113px;
}
.slider__btn-left {
    position: absolute;
    top: 122px;
    left: 24px;
    width: 22px;
    height: 40px;
    background-color: transparent;
    background-image: url("../img/promo/icon-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 0;
    border: none;
    cursor: pointer;
}
.slider__btn-right {
    position: absolute;
    top: 122px;
    left: 578px;
    width: 22px;
    height: 40px;
    background-color: transparent;
    background-image: url("../img/promo/icon-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* стилизация блока популярные продукты с карточками */
.products .catalog-list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.block-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 89px;
    padding-left: 28px;
    padding-right: 14px;
    background-color: var(--special-background);
}
.block-header__title {
    width: 70%;
    margin: 0;
    padding: 29px 0 30px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-blacklight);
}
.catalog-list {
    padding: 0;
    margin: 20px 0 70px;
    font-family: "PT Sans", "Tahoma", sans-serif;
    text-align: center;
    list-style-type: none;
}
.catalog-list__card {
    position: relative;
    width: 220px;
    min-height: 318px;
    background-color: var(--white);
    border: 1px solid var(--basic-blacklight); 
}    
.card-new::after {
    content:"";
    position: absolute;
    left: 149px;
    top: -1px;
    width: 70px;
    height: 70px;
    background-color: var(--basic-red);
    background: url("../img/products/catalod-new.svg") no-repeat center center;  
} 
.catalog-list__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 170px;
    margin-bottom: 9px;
}
.catalog-list__img {
    max-height: 100%;
    margin: 0 auto;
}
.catalog-list__btn {
    display: none;
}
.catalog-list__card:hover {
    box-shadow: 0px 4px 20px var(--black-card);
}
.catalog-list__card:hover .catalog-list__btn {
    display: block;
} 
.catalog-list__card:hover .catalog-list__img {
    display: none;
} 
.catalog-list__descr {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}
.catalog-list__title {
    padding: 0 18px;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}
.catalog-list__descr span {
    margin-top: 7px;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--text-grey);
}
.catalog-list__descr a {
    width: 141px;
    margin: 14px 34px 21px 45px;
    padding: 10px 0 10px 32px; 
    font-size: 17px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--basic-red);
    background: linear-gradient(-135deg, transparent 15px, var(--basic-red) 0) top right, linear-gradient(-45deg, transparent 15px, var(--basic-red) 0) bottom right;
    background-size: 100% 51%;
    background-repeat: no-repeat;    
}
.catalog-list__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}
.catalog-list__btn {
    width: 135px;
    min-height: 38px;
    margin: 0;
    padding: 10px 0;
    border: none;
    border-radius: 2px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
.catalog-list__btn--buy {
    position: relative;
    padding-left: 53px;
    text-align: left;
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--box-shadow-green);
    color: var(--white);
}
.catalog-list__btn--buy::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 30px;
    width: 15px;
    height: 15px;
    background-image: url("../img/menu/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}
.catalog-list__btn--buy:hover {
    background-color: var(--accent-green);
} 
.catalog-list__btn--buy:active {
    background-color: var(--button-green);
    outline-color: var(--button-green);
}
.catalog-list__btn--bookmarks {
    color: var(--text-blacklight);
    border: 3px solid var(--basic-green);
    background-color: var(--white);
    margin-top: 10px;
    padding: 8px 0;
}
.catalog-list__btn--bookmarks:hover {
    border: 3px solid var(--text-blacklight);
}
.catalog-list__btn--bookmarks:active {
    opacity: 50%;
}
.old-prise {
    min-height: 18px;
}

/* стилизация гдавной страницы, раздел Производители */
.manufacturer__list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
    padding-bottom: 70px;
    margin: 0;
    margin-top: 20px;
}
.manufacturer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    min-height: 145px;
    border: 1px solid var(--basic-blacklight);
}
.manufacturer__card:hover {
    box-shadow: 0px 4px 20px var(--box-shadow);
}
.manufacturer__card:active {
    opacity: 50%;
}
.manufacturer .link-main {
    margin-right: 5px;
}

/* Стилизация главной страницы, раздел Сервис */
.services {
    background-color: var(--basic-background);
    padding-top: 64px;
}
.title {
    width: 70%;
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}
.services__wrapper {
    margin-top: 25px;
    width: 50%;
}
.descr {
    margin: 0;
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 13px;
    line-height: 24px;
}
.services__description {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.services__button, 
.description__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.services__button {
    position: relative;
    padding-bottom: 100px;
}
.services__button::after {
    content: "";
    position: absolute;
    top: -45px;
    left: 231px;
    width: 10px;
    height: 279px;
    background-image: url("../img/services.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.services__btn {
    width: 240px;
    min-height: 61px;
    padding: 0;
    padding-left: 22px;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--white);
    background-color: var(--text-blacklight);
    border: none;
    box-shadow: 0px 1px 0px var(--basic-black), inset 0px 1px 0px var(--button-black);
    text-align: left;
    cursor: pointer;
}
.services__slide {
    position: relative;
    width: 619px;
    padding-bottom: 10px;
}
.services__slide .title {
    width: 305px;
    color: var(--text-blacklight);
    margin-bottom: 30px;
}
.services__slide .descr {
    width: 319px;
}
.services__slide-delivery::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 151px;
    width: 468px;
    height: 261px;
    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.services__slide-guarantee::after {
    content: "";
    position: absolute;
    top: 0;
    left: 230px;
    width: 389px;
    height: 283px;
    background-image: url("../img/guarantee.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.services__slide-credit::after {
    content: "";
    position: absolute;
    top: 0;
    left: 153px;
    width: 465px;
    height: 282px;
    background-image: url("../img/credit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.services__btn-main {
    width: 195px;
    height: 38px;
    margin-top: 28px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    border: none;
    cursor: pointer;
}
.services__btn-main:active  {
    background-color: var(--accent-red);
}
.services__btn-main:focus {
    outline-color: var(--basic-red);
}
.services__btn:hover {
    background: var(--basic-black);
}
.current:hover {
    background-color: var(--white);
}
.current,
.current:active,
.current:focus  {
    color: var(--text-blacklight);
    background-color: var(--white);
    outline-color: var(--white);
    box-shadow: none;
}
.services__slide-guarantee, 
.services__slide-credit, 
.services__slide-delivery {
    display: none;
}
.services-active {
    display: block;
}

/* Стилизация  блока с контактами и о нас на главной странице*/
.flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 73px 0 70px;
}
.description .title, .contacts .title {
    margin-bottom: 24px;
}
.description__descr {
    width: 478px;
    margin-bottom: 1px;
}
.descr__top {
    margin-top: 27px;
}
.description__item {
    position: relative;
    padding-left: 37px;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
    list-style-type: none;
}
.description__item::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
}
.description__item--size::before {
    top: 10px;
}
.description .link-main {
    width: 220px;
    margin-top: 20px;
}
.contacts .descr {
    width: 180px;
}
.contacts__map {
    display: block;
    margin-top: 32px;
    margin-bottom: 22px;
}
.contacts .link-main {
    width: 300px;
}

/* Стилизация подвала сайта */
.footer {
    background-color: var(--text-blacklight);
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 54px;
    color: var(--text-greylight);
}
.logo-footer {
    display: block;
    width: 220px;
    height: 68px;
    margin-bottom: 22px;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px var(--black-logo);
}
.logo-footer img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
.footer-nav__phone,
.footer-nav address {
    color: inherit;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
}
.footer-nav__menu, 
.footer-nav__submenu {
    width: 610px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-nav__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 37px;
}
.footer-nav__menu .link, .link--yellow {
    margin-left: 59px;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-background);
}
.footer-nav__submenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 34px;
}
.footer-nav__menu .link:hover,
.footer-nav__submenu .link:hover {
    text-decoration-line: underline;
}
.footer-nav__menu .link:active {
    color: var(--basic-background-opacity);
    background-color: var(--text-blacklight);
}
.footer-nav__submenu .link:active {
    color: var(--yellowlight-opacity);
    background-color: var(--text-blacklight);
}
.link--yellow {
    color: var(--special-yellowlight);
}


/* стилизация футора второй блок */
.footer-block {
    background-color: var(--basic-black);
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}
.footer-block__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 29px;
}
.footer-copyright {
    width: 228px;
    margin-right: 162px;
}
.footer-copyright p {
    margin: 0;
}
.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 140px;
    padding: 0;
    margin-right: 111px;
    list-style: none;
}
.footer-social__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-right: 1px;
    background: linear-gradient(0deg, var(--black-social), var(--black-social));
    border-radius: 50%;
}
.footer-social__btn > a {
    width: 100%;
    height: 100%;
}
.footer-social__Bk {
    width: 26px;
    height: 15px;
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.footer-social__Fb {
    width: 12px;
    height: 22px;
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.footer-social__Insta {
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.footer-feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 295px;
}
.footer-feedback__text {
    width: 137px;
    margin: 0;
}
.footer-feedback__copyright {
    width: 98px;
    margin: 0;
    margin-right: 10px;
}
.footer-feedback__mail, .footer-feedback__link {
    color: var(--special-yellowlight);
}
.footer-feedback__mail:hover,
.footer-feedback__link:hover {
    text-decoration-line: underline;
}
.footer-feedback__mail:active,
.footer-feedback__link:active {
    color: var(--basic-red);
}
.footer-social__btn:hover,
.footer-social__btn:active {
    background: var(--basic-red);
}

/* стилизация второй страницы caйта, каталог */

/* блок хлебные крошки) */
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 21px 0 20px 0;
    margin: 0;
    list-style: none;
}
.breadcrumbs li {
    position: relative;
    margin-right: 41px;
}
.breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 3px;
    right: -21px;
    width: 8px;
    height: 12px;
    background-image: url("../img/catalog/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.breadcrumbs li:last-child {
    margin-right: 0;
}
.breadcrumbs__current::after {
    display: none;
}

.catalog-title {
    padding: 0;
    margin: 0;
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--text-black);
    font-weight: normal;
}
.block-header__catalog {
    background-color: var(--greylight-background);
}
.catalog-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 59px;
}

/* Стилизация фильтра */
.filters {
    width: 220px;
}
.filters__title {  
    padding: 10px 5px 10px 18px;
    background-color: var(--catalog-background);
} 
.filter {
    margin-top: 15px;
}
.filter__fieldset {
    padding: 0;
    margin: 0;
    padding-bottom: 25px;
    margin-bottom: 17px;
    border: 0 none;
    border-bottom: 1px solid var(--basic-blacklight);
}
.filter__fieldset:nth-child(3) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom:none;
}
.filter__legend {
    margin-bottom: 15px;
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
}
.filter__legend--size {
    margin-bottom: 24px;
    line-height: 28px;
}
.filter-range__controls {
    position: relative;
    height: 80px;
    padding: 38px 20px 0 20px;
    margin-bottom: 9px;
    background-color: var(--catalog-background);
    border-radius: 5px;
}
.filter-range__scale {
    width: 180px;
    height: 2px;
    background-color: var(--catalog-scale);
}
.filter-range__bar {
    width: 80%;
    height: 2px;
    background-color: var(--accent-green);
}
.filter-range__toggle {
    position: absolute;
    left: 0;
    top: 29px;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: var(--catalog-toggle);
    border: 8px solid var(--white);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--catalog-shadow);
    cursor: pointer;
}
.filter-range__toggle--min {
    left: 18px;
}
.filter-range__toggle--max {
    left: 160px;
}
.filter-range__prise-controls label {
    width: 95px;
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}
.filter-range__prise-controls input {
    width: 95px;
    text-align: center;
    padding: 7px 9px 11px 21px;
    border: none;
    border-radius: 5px;
    background-color: var(--catalog-background);
}
.filter-range__prise-controls {
    display: flex;
    justify-content: space-between;
}
.filter-range__max-price {
    position: relative;
}
.filter-range__max-price::before {
    content: "";
    position: absolute;
    top: 18px;
    left: -19px;
    width: 9px;
    border: 1px solid var(--catalog-line);
}
.filter__list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
}
.filter__option {
    margin-bottom: 16px;
    padding-left: 35px;
}
.filter__option:last-child {
    margin-bottom: 0;
}
.filter__option label {
    position: relative;
    display: block;
    cursor: pointer;
}
.filter__input--checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 0;
    width: 23px;
    height: 23px;
    border: 2px solid var(--basic-greylight);
    border-radius: 3px;
}
.filter__input--checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -29px;
    width: 20px;
    height: 12px;
    border-bottom: 4px solid var(--basic-greylight);
    border-left: 4px solid var(--basic-greylight);
    transform: rotate(-45deg);
}
.filter__input--radio + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 0;
    width: 25px;
    height: 25px;
    border: 4px solid var(--basic-greylight);
    border-radius: 50%;
}
.filter__input--radio:checked + label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -27px;
    width: 9px;
    height: 9px;
    background-color: var(--basic-greylight);
    border-radius: 50%;
}
.filter__input--checkbox + label:hover::before,
.filter__input--checkbox:checked + label:hover::after,
.filter__input--radio + label:hover::before {
    border-color: var(--filter-grey); 
}
.filter__input--radio:checked + label:hover::after {
    background-color: var(--filter-grey);
}
.filter__input--radio:disabled + label,
.filter__input--checkbox:disabled + label {
    opacity: 0.4;
}
.filter__input--checkbox:focus + label::before,
.filter__input--checkbox:checked:focus + label::after,
.filter__input--radio:focus + label::before {
    border-color: var(--filter-grey); 
}
.filter__input--radio:checked:focus + label::after {
    background-color: var(--filter-grey); 
}
.filter__input:focus + label {
    color: var(--catalog-filter);
}


/* стилизация каталога */
.catalog {
    width: 700px;
}
.sorting {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--catalog-background);
}
.sorting__title {
    width: 221px;
    padding: 10px 14px 10px 20px;
    margin-right: 20px;
}
.sorting__list,
.sorting__toggle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sorting__list {
    width: 360px;
    margin-top: 8px;
    margin-bottom: 11px;
}
.sorting__toggle {
    width: 43px;
    margin-top: 8px;
    margin-left: 40px;
}
.sorting__btn {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0;
    background-color: var(--catalog-background);
    color: var(--black-filter);
    border: none;
    border-bottom: 1px dotted var(--basic-red);
    cursor: pointer;
}
.sorting__active {
    color: var(--basic-red);
    border-bottom: none;
    outline: none;
}
.sorting__btn:hover {
    color: var(--text-black);
    border-bottom: 1px solid;
}
.sorting__btn:active, 
.sorting__btn:focus {
    color: var(--basic-red);
    border-bottom: none;
    outline: none;
}
.sorting__direction {
    border: none;
    background-color: var(--catalog-background);
    padding: 0;
    cursor: pointer;
}
.sorting__up {
    margin-right: 21px;
}
.sorting__direction path {
    fill: var(--basic-greylight);
}
.sorting__direction:hover path {
    fill: var(--text-black);
}
.sorting__direction:active path,
.sorting__direction:focus path {
    fill: var(--basic-red);
}  
.sorting__direction:active,
.sorting__direction:focus {
    outline-color: var(--basic-red);
}
.sorting-toggle__active path {
    fill: var(--basic-red);
}
.catalog .catalog-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 27px;
    margin-bottom: 30px;
    width: calc(100% + 20px);
}
.catalog .catalog-list__card {
    margin-bottom: 18px;
    margin-right: 20px;
}
.transition {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}
.transition .btn-catalog {
    margin-right: 10px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* стилизация кнопок в каталоге */
.btn-catalog {
    border: 1px solid var(--catalog-greylight);
    background-color: var(--white);
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-black);
}
.btn-catalog__filter {
    width: 220px;
    min-height: 38px;
    margin-top: 35px;
    cursor: pointer;
}
.btn-catalog__min {
    width: 38px;
    min-height: 38px;
    border-radius: 2px;
}
.btn-catalog__max {
    width: 140px;
    min-height: 38px;
    border-radius: 2px;
}
.btn-catalog__min:hover,
.btn-catalog__max:hover {
    border-color: var(--basic-greylight);
}
.btn-catalog__min:active,
.btn-catalog__max:active {
    border-color: var(--basic-red);
    outline: none;
} 
.btn-catalog__active {
    background-color: var(--basic-red);
    border-color: var(--basic-red);
    color: var(--white);
}

/* Каталог, стилизация блок о перфораторах */

.designation {
    background-color: var(--basic-background);
    padding-top: 64px;
    padding-bottom: 69px;
}
.designation .title {
    margin-bottom: 25px;
}
.designation .descr {
    width: 907px;
}

/* Стилизация модальных окон для главной страницы */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 18px;
    line-height: 24px;
    box-shadow: 0px 4px 20px var(--box-shadow);
}
.modal-contact, 
.modal-checkout {
    top: 15%;
    bottom: auto;
    width: 620px;
    background-color: var(--white);
}
.modal-line {
    position: relative;
    width: 100%;
    height: 7px;
    background-color: var(--basic-red);
    z-index: 3;
}
.modal__closed {
    position: absolute;
    padding: 0;
    top: 21px;
    right: 11px;
    width: 21px;
    height: 21px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.modal__closed::after,
.modal__closed::before {
    content:"";
    position: absolute;
    top: 9px;
    right: -3px;
    width: 27px;
    height: 3px;
    background-color: var(--basic-red);
    border-radius: 1px;
}
.modal__closed::after {
    transform: rotate(45deg);
}
.modal__closed::before {
    transform: rotate(-45deg);
}
.modal__form {
    padding-top: 44px;
}
.modal__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}
.modal__wrapper p {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.modal__input {
    width: 220px;
    margin-top: 11px;
    margin-bottom: 13px;
    border: 2px solid var(--basic-greylight);
    border-radius: 2px;
    padding: 0;
    padding: 5px 8px 5px 12px;
    font-size: 13px;
    line-height: 24px;
}
.modal__input::placeholder {
    color: var(--text-grey);
}
.modal__input-letter {
    width: 460px;
}
.modal__button {
    background-color: var(--modal-background);
    padding: 37px 0 37px 80px;
    margin-top: 24px;
}
.modal__btn {
    width: 460px;
    padding: 11px 0 9px;
    background-color: var(--basic-red);
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    cursor: pointer;
}
.modal-map {
    width: 943px;
    height: 499px;
}
.modal-map iframe {
    position: relative;
    z-index: 2;
}
.modal-map__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 943px;
    height: 499px;
}
.modal-map .modal__closed {
    z-index: 3;
}
.modal-checkout__title {
    position: relative;
    text-align: center;
    margin: 0;
    padding-top: 66px;
    padding-bottom: 47px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.modal-checkout__title::before {
    content: "";
    position: absolute;
    top: 48px;
    left: 81px;
    width: 66px;
    height: 66px;
    background-image: url("../img/catalog/icon-mark.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.modal-checkout .modal__button {
    padding-left: 114px;
}
.modal__btn-red {
    width: 192px;
    padding: 11px 0 9px;
    margin-right: 8px;
    background-color: var(--basic-red);
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    cursor: pointer;
}
.modal__btn-white {
    width: 192px;
    padding: 11px 0 9px;
    margin: 0;
    background-color: var(--white);
    border: none;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.modal-contact, 
.modal-map, 
.modal-checkout {
    display: none;
}
.modal-show {
    display: block;  
    animation: bounce 0.6s;
}
.modal-error {
    animation: shake 0.6s;
}

/* Анимация  */
@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
  
    70% {
        transform: translateY(30px);
    }
  
    90% {
        transform: translateY(-10px);
    }
  
    100% {
        transform: translateY(0);
    }
}
@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
  

